/*
=====================================================================
*   Ceevee v1.0 Layout Stylesheet
*   url: styleshout.com
*   03-18-2014
=====================================================================

   TOC:
   a. General Styles
   b. Header Styles
   c. About Section
   d. Social Section
   e. Resume Section
   f. Portfolio Section
   g. Call To Action Section
   h. Testimonials Section
   i. Contact Section
   j. Footer

===================================================================== */

/* ------------------------------------------------------------------ */
/* a. General Styles
/* ------------------------------------------------------------------ */
body {
   background: #0f0f0f;
   overflow-x: hidden;
   width: 100%;
}

/* ------------------------------------------------------------------ */
/* b. Header Styles
/* ------------------------------------------------------------------ */
header {
   position: relative;
   height: 800px;
   min-height: 500px;
   width: 100%;
   background: #161415 url(../images/header-background.jpg) no-repeat top center;
   background-size: cover !important;
   -webkit-background-size: cover !important;
   text-align: center;
   overflow: hidden;
   user-select: none;
}

/* Vertically Center Banner Section */
header:before {
   content: '';
   display: inline-block;
   vertical-align: middle;
   height: 100%;
}

.banner-text h1 {
   font-size: 1px;
}

header .banner {
   display: inline-block;
   vertical-align: middle;
   margin: 0 auto;
   width: 85%;
   padding-bottom: 30px;
   text-align: center;
}

header .banner-text {
   width: 100%;
}

header .banner-text h1 {
   font: 90px/1.1em 'opensans-bold', sans-serif;
   color: #fff;
   letter-spacing: -2px;
   margin: 0 auto 18px auto;
   text-shadow: 0px 1px 3px rgba(0, 0, 0, .8);
}

header .banner-text h3 {
   font: 18px/1.9em 'librebaskerville-regular', serif;
   color: #A8A8A8;
   margin: 0 auto;
   width: 70%;
   text-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
}

header .banner-text h3 span,
header .banner-text h3 a {
   color: #fff;
}

header .banner-text hr {
   width: 60%;
   margin: 18px auto 24px auto;
   border-color: #2F2D2E;
   border-color: rgba(150, 150, 150, .1);
}

/* Scrolldown Arrow */
header .scrolldown a {
   position: absolute;
   bottom: 30px;
   left: 48.5%;
   margin-left: -29px;
   color: #fff;
   display: block;
   height: 42px;
   width: 42px;
   font-size: 42px;
   line-height: 42px;
   color: #fff;
   border-radius: 100%;

   -webkit-transition: all .3s ease-in-out;
   -moz-transition: all .3s ease-in-out;
   -o-transition: all .3s ease-in-out;
   transition: all .3s ease-in-out;
}

header .scrolldown a:hover {
   color: #B15314;
}

/* Primary Navigation */
#nav-wrap ul,
#nav-wrap li,
#nav-wrap a {
   margin: 0;
   padding: 0;
   border: none;
   outline: none;
}

/* Nav-Wrap */
#nav-wrap {
   font: 14px 'opensans-bold', sans-serif;
   width: 100%;
   text-transform: uppercase;
   letter-spacing: 2.5px;
   margin: 0 auto;
   z-index: 100;
   position: fixed;
   left: 0;
   top: 0;
}

.opaque {
   background-color: #333;
}

/* Hide Toggle Button */
#nav-wrap>a.mobile-btn {
   display: none;
}

ul#nav {
   min-height: 48px;
   width: auto;

   /* Center Align the Menu */
   text-align: center;
}

ul#nav li {
   position: relative;
   list-style: none;
   height: 48px;
   display: inline-block;
}

/* Links */
ul#nav li a {
   display: inline-block;
   padding: 8px 13px;
   line-height: 32px;
   text-decoration: none;
   text-align: left;
   color: #fff;
   -webkit-transition: color .2s ease-in-out;
   -moz-transition: color .2s ease-in-out;
   -o-transition: color .2s ease-in-out;
   -ms-transition: color .2s ease-in-out;
   transition: color .2s ease-in-out;
}

ul#nav li a:hover {
   color: #e9965f;
}

ul#nav li a:active {
   background-color: transparent !important;
}

ul#nav li.current a {
   color: #F06000;
}


/* ------------------------------------------------------------------ */
/* c. About Section
/* ------------------------------------------------------------------ */
/* Version Ordenador  */
#about {
   background: #2B2B2B;
   padding-top: 30px;
   padding-bottom: 30px;
   user-select: none;
   max-width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

#about a,
#about a:visited {
   color: #fff;
}

#about h2 {
   font: 26px/35px 'opensans-bold', sans-serif;
   color: #fff;
   text-align: center;
   margin-bottom: 22px;
   border-bottom: 3.5px solid #11ABB0;
   padding-bottom: 9px;
}

#about p {
   width: 100%;
   font-size: 18px;
   color: #fff;
   line-height: 1.5em;
   font-family: Helvetica, Sans-Serif;
}

.profile-pic-container {
   margin-bottom: 5px;
   margin-top: -25px;
}

#about .profile-pic {
   width: 285px;
   height: 255px;
}

#about .main-col {
   padding-right: 5%;
}

.about-me {
   text-align: center;
}

/* Wave Hand Animation */
.wave {
   font-size: 24px;
   animation-name: wave-animation;
   animation-duration: 2.1s;
   animation-iteration-count: infinite;
   transform-origin: 70% 70%;
   display: inline-block;
}

@keyframes wave-animation {
   0% {
      transform: rotate(0.0deg)
   }

   10% {
      transform: rotate(14.0deg)
   }

   20% {
      transform: rotate(-8.0deg)
   }

   30% {
      transform: rotate(14.0deg)
   }

   40% {
      transform: rotate(-4.0deg)
   }

   50% {
      transform: rotate(10.0deg)
   }

   60% {
      transform: rotate(0.0deg)
   }

   100% {
      transform: rotate(0.0deg)
   }
}

/* Button Jumping Animation */
button.jumping {
   animation: bounce 1s infinite;
}

@keyframes bounce {
   0% {
      transform: translateY(0);
   }

   50% {
      transform: translateY(-10px);
   }

   100% {
      transform: translateY(0);
   }
}

/* About Screens Responsive  */
@media (max-width: 767px) {
   #about {
      margin: 0 auto;
   }

   #about h2 {
      font: 22px/25px 'opensans-bold', sans-serif;
      color: #fff;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 1px;
      padding-bottom: 9px;
      margin-bottom: 22px;
      border-width: 100vh;
      border-bottom: 3.5px solid #11ABB0;
   }

   #about p {
      width: 100%;
      font-size: 15px;
      color: #fff;
      line-height: 1.5em;
      font-family: Helvetica, Sans-Serif;
   }

   .wave {
      font-size: 14px;
      animation-name: wave-animation;
      animation-duration: 2.1s;
      animation-iteration-count: infinite;
      transform-origin: 70% 70%;
      display: inline-block;
   }

   .profile-pic-container {
      margin-bottom: 15px;
      margin-top: -15px;
   }

   #about .main-col {
      text-align: center
   }

   .about-me {
      display: inline-grid;
      flex-direction: column;
      align-items: center;
      width: 125%;
   }
}

/* ------------------------------------------------------------------ */
/* d. Social Section
/* ------------------------------------------------------------------ */
/* Version Ordenador  */
.contact-details {
   text-align: center;
   padding-top: 20px;
   background-color: #EBEEEE;
}

.contact-details div {
   display: inline-table;
}

.contact-details h2 {
   font: 26px/25px 'opensans-bold', sans-serif;
   text-transform: uppercase;
   letter-spacing: 1px;
   color: #313131;
   padding-bottom: 10px;
   margin-bottom: 25px;
   border-bottom: 3.5px solid #11ABB0;
   max-width: 50%;
   /* Por ejemplo, limita el ancho al 80% del contenedor */
   margin-left: auto;
   margin-right: auto;
}

.contact-details button {
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: transparent;
}

.contact-details button a {
   color: #fff;
   font-size: 19.5px;
   padding: 10px 30px;
   border-radius: 25px;
   background-color: #6c6b6b;
}

.contact-details button:hover {
   transform: translateY(-5px);
}

.contact-details button:hover a {
   filter: drop-shadow(1px 1px 20px #11ABB0);
   color: #11ABB0;
}

.contact-details .resume-button a {
   color: #fff;
}

.contact-details .resume-button:hover a {
   color: #fff;
}

/* Social Screens Responsive  */

@media (max-width: 767px) {
   .contact-details {
      display: inline-block;
      padding: 10px 0px 10px;
   }

   .contact-details h2 {
      font: 22px/25px 'opensans-bold', sans-serif;
      color: #313131;
      border-bottom: 3.5px solid #11ABB0;
      text-transform: uppercase;
      letter-spacing: 1px;
      max-width: 50%;
      margin-left: auto;
      margin-right: auto;
   }

   .contact-details button a {
      color: #fff;
      font-size: 20px;
      background-color: #313131;

   }

   .contact-details button:hover {
      transform: translateY(-3px);
   }

   .contact-details button:hover a {
      background-color: #11ABB0;
   }
}

/* ------------------------------------------------------------------ */
/* d. Resume Section
/* ------------------------------------------------------------------ */
#resume {
   background: #fff;
   padding-top: 90px;
   padding-bottom: 72px;
   overflow: hidden;
   user-select: none;
}

#resume a,
#resume a:visited {
   color: #11ABB0;
}

#resume a:hover,
#resume a:focus {
   color: #313131;
}

#resume h1 {
   font: 28px/24px 'opensans-bold', sans-serif;
   text-transform: uppercase;
   letter-spacing: 1px;
   color: #313131;
}

#resume h1 span {
   border-bottom: 3px solid #11ABB0;
   padding-bottom: 6px;
}

#resume h3 {
   font: 25px/30px 'opensans-bold', sans-serif;
   margin-bottom: 0px;
}

#resume .header-col {
   padding-top: 9px;
}

#resume .main-col {
   text-align: center;
   margin: 0 auto 20px;
   max-width: 800px;
   padding: 0 20px;
}

.education,
.work {
   margin-bottom: 48px;
   padding-bottom: 24px;
   border-bottom: 1px solid #E8E8E8;
}

.work h1 span,
.education h1 span {
   font-size: 26.5px;
}

#resume .info {
   font: 16px/24px 'librebaskerville-italic', serif;
   color: #6E7881;
   margin-bottom: 18px;
   margin-top: 9px;
}


#resume .info span {
   margin-right: 5px;
   margin-left: 5px;
}

#resume .date {
   font: 15px/24px 'opensans-regular', sans-serif;
   margin-top: 6px;
}

/*	Skills */
/* Version Ordenador  */
.skills {
   display: flex;
   flex-wrap: wrap;
   justify-content: flex-start;
   margin-bottom: -30px;
}

.skills__skill {
   padding: 2rem 2.5rem;
   margin-bottom: 1.5rem;
   margin-right: 1.2rem;
   font-size: 1.6rem;
   background: rgba(153, 153, 153, 0.2);
   border-radius: 5px;
   font-weight: 600;
   color: #777;
}

/*	Skills */
/* Version Responsive  */
@media (max-width: 768px) {
   .skills {
      flex-wrap: wrap;
      justify-content: center;
      margin-left: -0.6rem;
      margin-right: -0.6rem;
   }

   h1 span {
      font-size: 22px;
   }

   .skills__skill {
      padding: 2rem 2.5rem;
      margin: 0.6rem;
      font-size: 1.6rem;
   }

   .work h1 span,
   .education h1 span {
      font-size: 22px;
   }

   #resume h3 {
      font: 17.5px/30px 'opensans-bold', sans-serif;
      margin-bottom: -5px;
   }
}

/* ------------------------------------------------------------------ */
/* e. Portfolio Section
/* ------------------------------------------------------------------ */
/* Version Ordenador  */
#portfolio {
   background: #ebeeee;
   padding-top: 65px;
   padding-bottom: 65px;
}

#portfolio h1 {
   font: 15px/44px 'opensans-bold', sans-serif;
   text-transform: uppercase;
   letter-spacing: 1px;
   text-align: center;
   margin-bottom: 48px;
   color: #313131;
   border-bottom: 3px solid #11ABB0;
   max-width: 275px;
   margin-left: auto;
   margin-right: auto;
   font-size: 30px;
}

.portfolio-wrapper {
   display: flex;
   justify-content: center;
}

.portfolio-card-container {
   display: grid;
   grid-template-columns: repeat(2, 3fr);
   gap: 20px;
}

.portfolio-card {
   border: 3px solid #303030;
   border-radius: 8px;
   overflow: hidden;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.portfolio-card-img {
   width: 100%;
   height: auto;
}

.portfolio-card-content {
   padding: 5px;
}

.portfolio-card-content h2 {
   font-size: 22px;
   margin-bottom: 10px;
   text-align: center;
   border-bottom: 3px solid #11ABB0;
}

.portfolio-card-content p {
   font-size: 16px;
   margin-bottom: 5px;
   text-align: center;
}

.portfolio-card-content p.itemstack {
   font-size: 18px;
   font-style: italic;
   color: #666;
   margin-bottom: 0;
}

.portfolio-button-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 20px;
 }
 
 .portfolio-button {
   width: 100%;
   padding: 15px 15px;
   margin-bottom: 10px;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #636363;
   border-radius: 40px;
   transition: background-color 0.3s ease;
   color: #15A6AB;
   text-decoration: none;
   font-size: 20px;
 }

 .portfolio-button:hover {
   background-color: #B15314;
   color: whitesmoke;
   filter: drop-shadow(1px 1px 20px #B15314);
 }
 
 .blocked-button {
   pointer-events: none;
   opacity: 0.5;
   cursor: not-allowed;
 }

@media (max-width: 767px) {
   .portfolio-card-container {
      grid-template-columns: 1fr;
   }
}

/* Portfolio Screens Responsive  */
@media screen and (max-width: 768px) {
   #portfolio h1 {
      border-bottom: 3px solid #11ABB0;
      max-width: 234px;
      font-size: 22px;
      line-height: 1.5;
   }
}

@media screen and (max-width: 768px) {
   #portfolio {
      padding-top: 65px;
   }
}

/* Portfolio */
#portfolio-wrapper .columns {
   margin-bottom: 36px;
}

.portfolio-item .item-wrap {
   background: #fff;
   overflow: hidden;
   position: relative;

   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   -ms-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
}

.portfolio-item .item-wrap a {
   display: block;
   cursor: pointer;
}

/* Overlay */
.portfolio-item .item-wrap .overlay {
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;

   opacity: 0;
   -moz-opacity: 0;
   filter: alpha(opacity=0);

   -webkit-transition: opacity 0.3s ease-in-out;
   -moz-transition: opacity 0.3s ease-in-out;
   -o-transition: opacity 0.3s ease-in-out;
   transition: opacity 0.3s ease-in-out;

   background: url(../images/overlay-bg.png) repeat;
}

.portfolio-item .item-wrap .link-icon {
   display: block;
   color: #fff;
   height: 30px;
   width: 30px;
   font-size: 18px;
   line-height: 30px;
   text-align: center;

   opacity: 0;
   -moz-opacity: 0;
   filter: alpha(opacity=0);

   -webkit-transition: opacity 0.3s ease-in-out;
   -moz-transition: opacity 0.3s ease-in-out;
   -o-transition: opacity 0.3s ease-in-out;
   transition: opacity 0.3s ease-in-out;

   position: absolute;
   top: 50%;
   left: 50%;
   margin-left: -15px;
   margin-top: -15px;
}

.portfolio-item .item-wrap img {
   vertical-align: bottom;
}

.portfolio-item .portfolio-item-meta {
   padding: 18px
}

.portfolio-item .portfolio-item-meta h5 {
   font: 14px/15px 'opensans-bold', sans-serif;
   color: #fff;
}

.portfolio-item .portfolio-item-meta p {
   font: 12px/18px 'opensans-light', sans-serif;
   color: #c6c7c7;
   margin-bottom: 0;
}

/*On Hover*/
.portfolio-item:hover .overlay {
   opacity: 1;
   -moz-opacity: 1;
   filter: alpha(opacity=100);
}

.portfolio-item:hover .link-icon {
   opacity: 1;
   -moz-opacity: 1;
   filter: alpha(opacity=100);
}

/*Popup Modal */
.popup-modal {
   max-width: 550px;
   background: #fff;
   position: relative;
   margin: 0 auto;
}

.popup-modal .description-box {
   padding: 12px 36px 18px 36px;
}

.popup-modal .description-box h4 {
   font: 15px/24px 'opensans-bold', sans-serif;
   margin-bottom: 12px;
   color: #111;
}

.popup-modal .description-box p {
   font: 14px/24px 'opensans-regular', sans-serif;
   color: #A1A1A1;
   margin-bottom: 12px;
}

.popup-modal .description-box .categories {
   font: 11px/21px 'opensans-light', sans-serif;
   color: #A1A1A1;
   text-transform: uppercase;
   letter-spacing: 2px;
   display: block;
   text-align: left;
}

.popup-modal .description-box .categories i {
   margin-right: 8px;
}

.popup-modal .link-box {
   padding: 18px 36px;
   background: #111;
   text-align: left;
}

.popup-modal .link-box a {
   color: #fff;
   font: 11px/21px 'opensans-bold', sans-serif;
   text-transform: uppercase;
   letter-spacing: 3px;
   cursor: pointer;
}

.popup-modal a:hover {
   color: #00CCCC;
}

.popup-modal a.popup-modal-dismiss {
   margin-left: 24px;
}


/* Fadein/Fadeout Effect for Modal Popup
/* ------------------------------------------------------------------ */
/* Content at Start */
.mfp-fade.mfp-wrap .mfp-content .popup-modal {
   opacity: 0;
   -webkit-transition: all 200ms ease-in-out;
   -moz-transition: all 200ms ease-in-out;
   -o-transition: all 200ms ease-in-out;
   -ms-transition: all 200ms ease-in-out;
   transition: all 200ms ease-in-out;
}

/* Content Fadein */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content .popup-modal {
   opacity: 1;
}

/* Content Fadeout */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content .popup-modal {
   opacity: 0;
}

/* ------------------------------------------------------------------ */
/* f. Call To Action Section
/* ------------------------------------------------------------------ */

#call-to-action {
   background: #212121;
   padding-top: 66px;
   padding-bottom: 48px;
}

#call-to-action h1 {
   font: 18px/24px 'opensans-bold', sans-serif;
   text-transform: uppercase;
   letter-spacing: 3px;
   color: #fff;
}

#call-to-action h1 span {
   display: none;
}

#call-to-action .header-col h1:before {
   font-family: 'FontAwesome';
   content: "\f0ac";
   padding-right: 10px;
   font-size: 72px;
   line-height: 72px;
   text-align: left;
   float: left;
   color: #fff;
}

#call-to-action .action {
   margin-top: 12px;
}

#call-to-action h2 {
   font: 28px/36px 'opensans-bold', sans-serif;
   color: #EBEEEE;
   margin-bottom: 6px;
}

#call-to-action h2 a {
   color: inherit;
}

#call-to-action p {
   color: #636363;
   font-size: 17px;
}

#call-to-action .button:hover,
#call-to-action .button:active {
   background: #FFFFFF;
   color: #0D0D0D;
}

#call-to-action p span {
   font-family: 'opensans-semibold', sans-serif;
   color: #D8D8D8;
}


/*	Blockquotes */
#testimonials blockquote {
   margin: 0 0px 30px 0px;
   padding-left: 0;
   position: relative;
   text-shadow: 0px 1px 3px rgba(0, 0, 0, 1);
}

#testimonials blockquote:before {
   content: none;
}

#testimonials blockquote p {
   font-family: 'librebaskerville-italic', serif;
   padding: 0;
   font-size: 24px;
   line-height: 48px;
   color: #fff
}

#testimonials blockquote cite {
   display: block;
   font-size: 12px;
   font-style: normal;
   line-height: 18px;
   color: #fff;
}

#testimonials blockquote cite:before {
   content: "\2014 \0020";
}

#testimonials blockquote cite a,
#testimonials blockquote cite a:visited {
   color: #8B9798;
   border: none
}

/* Flex Slider
/* ------------------------------------------------------------------ */
/* Reset */
.flexslider a:active,
.flexslider a:focus {
   outline: none;
}

.slides,
.flex-control-nav,
.flex-direction-nav {
   margin: 0;
   padding: 0;
   list-style: none;
}

.slides li {
   margin: 0;
   padding: 0;
}

/* Necessary Styles */
.flexslider {
   position: relative;
   zoom: 1;
   margin: 0;
   padding: 0;
}

.flexslider .slides {
   zoom: 1;
}

.flexslider .slides>li {
   position: relative;
}

.flexslider .slides>li {
   display: none;
   -webkit-backface-visibility: hidden;
}

.flex-container {
   zoom: 1;
   position: relative;
}

.slides:before,
.slides:after {
   content: " ";
   display: table;
}

.slides:after {
   clear: both;
}

.no-js .slides>li:first-child {
   display: block;
}

/* Slider Styles */
.slides {
   zoom: 1;
}

.slides>li {
   overflow: hidden;
}

/* Control Nav */
.flex-control-nav {
   width: 100%;
   position: absolute;
   bottom: -20px;
   text-align: left;
}

.flex-control-nav li {
   margin: 0 6px;
   display: inline-block;
   zoom: 1;
   display: inline;
}

.flex-control-paging li a {
   width: 12px;
   height: 12px;
   display: block;
   background: #ddd;
   background: rgba(255, 255, 255, .3);
   cursor: pointer;
   text-indent: -9999px;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   -o-border-radius: 20px;
   border-radius: 20px;
   box-shadow: inset 0 0 3px rgba(255, 255, 255, .3);
}

.flex-control-paging li a:hover {
   background: #CCC;
   background: rgba(255, 255, 255, .7);
}

.flex-control-paging li a.flex-active {
   background: #fff;
   background: rgba(255, 255, 255, .9);
   cursor: default;
}

/* ------------------------------------------------------------------ */
/* h. Contact Section
/* ------------------------------------------------------------------ */

#contact {
   background: #191919;
   padding-top: 96px;
   padding-bottom: 102px;
   user-select: none;

}

#contact p {
   margin-bottom: 50px;
   color: #e5e5e5;
   border-bottom: 3px solid #25ABB0;
   font: 35px/34px 'opensans-bold', sans-serif;


}

#contact input::placeholder,
#contact textarea::placeholder {
   color: #3C3D3E;
}

/* Form Styles */
#contact input[type="text"],
#contact input[type="email"],
#contact textarea {
   font-size: 16px;
}

s #contact input,
#contact textarea,
#contact select {
   color: #eee;
   background: #323737;
   margin-bottom: 42px;
   border: 0;
   outline: none;
   font-size: 16.5px;
   line-height: 24px;
}

#contact input:focus,
#contact textarea:focus,
#contact select:focus {
   color: #fff;
   background-color: #11ABB0;
}

#contact .form-control.custom-input-width {
   width: 100%;
}

#contact form {
   margin-bottom: 30px;
   width: 100%;
}

#contact label {
   display: flex;
   flex-wrap: wrap;
   justify-content: flex-start;
   margin-bottom: -30px;
}


.custom-alert-danger {
   background-color: #f44336;
   color: #fff;
   margin-top: 5px;
   margin-bottom: 10px;
   border: 1px solid #d32f2f;
   border-radius: 4px;
   padding: 10px;
   text-align: center;
}

.custom-alert-success {
   background-color: #4CAF50;
   color: #fff;
   margin-top: 10px;
   margin-bottom: 10px;
   border: 1px solid #388E3C;
   border-radius: 4px;
   padding: 10px;
   text-align: center;
}

#contact input,
#contact textarea,
#contact select {
   padding: 18px 20px;
   color: #000000;
   background: #c4c4c4;
   margin-bottom: 42px;
   border: 0;
   outline: none;
   font-size: 16px;
   line-height: 24px;
   border-radius: 20px;
}

#contact input:focus,
#contact textarea:focus,
#contact select:focus {
   color: #000000;
   font-size: 16.5px;
   background-color: #ADADAD;
}

#contact span.required {
   color: #6f8e8f;
   font-size: 13px;
}

#custom-input-width {
   width: 0%;
}


#message-warning,
#message-success {
   display: none;
   background: #0F0F0F;
   padding: 24px 24px;
   margin-bottom: 36px;
   width: 65%;
   margin-left: 26%;
}

#message-warning {
   color: #D72828;
}

#message-success {
   color: #1e7679;
}

#message-warning i,
#message-success i {
   margin-right: 10px;
}

#image-loader {
   display: none;
   position: relative;
   left: 18px;
   top: 17px;
}

.custom-alert {
   text-align: center;
   margin-top: 5px;
   margin-bottom: 35px;
}

.send-button {
   margin-top: 10px;
   margin-bottom: -40px;
}

.send-button {
   background-color: #636363;
   color: #ffffff;
   border: none;
   padding: 15px 20px;
   font-size: 18px;
   border-radius: 4px;
   transition: background-color 0.3s;
}

.send-button:hover {
   background-color: #B15314;
   color: #ffffff;
}

.pi-coffee-icon {
   vertical-align: middle;
   margin-bottom: 5px;
}

/* Contact Responsive  */
@media screen and (max-width: 768px) {
   #contact label {
      justify-content: center;
   }
}

@media screen and (max-width: 768px) {
   .text-center.mx-auto {
      text-align: center;
   }
}

@media screen and (max-width: 768px) {
   .send-button {
      margin-top: 15px;
      margin-bottom: -15px;
   }

   #contact p {
      font-size: 24px;
      text-align: center;
   }

}

@media (max-width: 767px) {
   .custom-alert {
      margin-top: 35px;
      margin-bottom: 15px;
   }
}

/* ------------------------------------------------------------------ */
/* j. Footer
/* ------------------------------------------------------------------ */

footer {
   padding-top: 48px;
   margin-bottom: 48px;
   color: #303030;
   font-size: 14px;
   text-align: center;
   position: relative;
   user-select: none;
}

footer h1 {
   text-align: center;
   font-size: 24px;
   margin-top: 25px;
   color: #F5F5F5;
}

footer a,
footer a:visited {
   color: #525252;
}

footer a:hover,
footer a:focus {
   color: #B15314;
}

/* Copyright */
footer .copyright {
   margin: 0;
   padding: 0;

}

footer .copyright li {
   display: inline-block;
   margin: 0;
   padding: 0;
   line-height: 24px;
}

.ie footer .copyright li {
   display: inline;
}

footer .copyright li:before {
   content: "\2022";
   padding-left: 10px;
   padding-right: 10px;
   color: #095153;
}

footer .copyright li:first-child:before {
   display: none;
}

/* Social links */
footer .social-links {
   margin: 18px 0 30px 0;
   padding: 0;
   font-size: 35px;
}

footer .social-links li {
   display: inline-block;
   margin: 0;
   padding: 0;
   margin-left: 42px;
   color: #F06000;
}

footer .social-links li:first-child {
   margin-left: 0;
}

/* Go To Top Button */
#go-top {
   position: absolute;
   top: -24px;
   left: 49.8%;
   margin-left: -30px;
}

#go-top a {
   text-decoration: none;
   border: 0 none;
   display: block;
   width: 60px;
   height: 60px;
   background-color: #525252;

   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;

   color: #fff;
   font-size: 21px;
   line-height: 60px;
   border-radius: 100%;
}

#go-top a:hover {
   background-color: #B15314;
}

/* Responsive Screens */
@media screen and (max-width: 768px) {
   footer h1 {
      font-size: 25px;
   }

   footer .social-links li {
      font-size: 38px;
   }
}

@media screen and (max-width: 480px) {
   footer .social-links li {
      font-size: 30px;
      align-items: center;
      justify-content: center;
      display: inline-block;
   }

   footer h1 {
      font-size: 20px;
   }
}